*{
    padding:0;
    margin:0;
}
.welcome{
    background-color:lightblue;
    height:70vh;
}
nav{
    background-color:rgba(0,0,200,.4);
    margin: auto;
}
ul{
    margin:auto;
    text-align: center;
}
ul li{
    list-style:none;
    display:inline-block;
    float:right,line;
    height:80px;
}
ul li a{
    text-decoration:none;
    font-size:100%;
    font-family:Arial, Helvetica, sans-serif;
    color:darkblue;
    padding:50px;
    display:block;
    text-transform:uppercase;
}
li a:hover{
    color:darkgoldenrod;
    font-size:30px;
    font-family: monospace;
}
.welcome h1{
    /* background-color:red; */
    text-align:center;
    height:25%;
    padding:45px;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:45px;
    color:peru;
}
h1:hover{
    color:pink;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome p{
    /* background-color:rgba(0,255,0,.5); */
    text-align:center;
    height:25%;
    padding:20px;
    text-transform: capitalize;
    font-size:30px;
    color:salmon;
}
.welcome a{
    text-decoration: none;
    color:#fff;
}

